
.page-background {
  background-color: #000;
  min-height: 100vh;
  padding: 40px 0;
}

.feedback-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 32px;
  background-color: #000;
  color: white;
  border-radius: 12px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin: 40px 0 30px;
  color: #ffd700;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.filter-section label {
  color: #ffd700;
  font-weight: 600;
  margin-bottom: 6px;
}

.filter-section select {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ffd700;
  background-color: #1c1c1c;
  color: white;
  width: 250px;
}

.feedback-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #000;
  color: white;
  border: 2px solid #ffd700;
}

.feedback-table th,
.feedback-table td {
  padding: 12px 16px;
  border: 1px solid #ffd700;
  text-align: center;
  word-wrap: break-word;
}

.feedback-table th {
  background-color: #ffd700;
  color: black;
  font-weight: 600;
}

.feedback-table tr:hover {
  background-color: #1c1c1c;
}


.no-feedback {
  text-align: center;
  font-size: 18px;
  color: #ffcc00;
  padding: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #1a1a1a;
  margin-top: 20px;
}


button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffd700;
  color: #121212;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cdae00;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
  color: white;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 0 10px #ffeb3b;
  text-align: center;
}

.modal-content h3 {
  margin-top: 0;
  color: #ffeb3b;
}

.modal-content button {
  margin-top: 20px;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}


