body, html {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.page-background {
  background-color: #000;
  min-height: 100vh;
  padding: 40px 0;
}

.card {
  background-color: #000;
  border-radius: 12px;
  padding: 32px;
  margin: 0 auto;
  max-width: 1200px;
  color: white;
}

.section-title {
  font-size: 28px;
  margin-bottom: 30px;
  color: #ffd700;
  text-align: center;
}


.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  gap: 20px;
}

.filter-left,
.filter-right {
  display: flex;
  flex-direction: column;
}

.yellow-label {
  color: #ffd700;
  font-weight: 600;
  margin-bottom: 6px;
}

input[type="text"],
select {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ffd700;
  background-color: #1c1c1c;
  color: white;
  width: 250px;
}

/* Error message */
.error-message {
  margin-bottom: 16px;
  padding: 12px;
  background-color: #fdecea;
  border: 1px solid #f44336;
  border-radius: 8px;
  color: #c62828;
  font-weight: 500;
  text-align: center;
}

/* Table styling */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #000;
  color: white;
  border: 2px solid #ffd700;
}

.custom-table th,
.custom-table td {
  padding: 12px 16px;
  border: 1px solid #ffd700;
  text-align: left;
}

.custom-table th {
  background-color: #ffd700;
  color: black;
  font-weight: 600;
}

.custom-table tr:hover {
  background-color: #1c1c1c;
}

/* Buttons container */
.action-buttons {
  display: flex;
  gap: 10px;
}

/* Buttons */
.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.btn-edit {
  background-color: #ffeb3b;
  color: black;
}

.btn-edit:hover {
  background-color: #fdd835;
}

.btn-delete {
  background-color: #f44336;
  color: white;
}

.btn-delete:hover {
  background-color: #d32f2f;
}

.btn-cancel {
  background-color: #ffeb3b;
  color: black;
}

.btn-cancel:hover {
  background-color: #fdd835;
}

.overlay {
  position: fixed;
  top: 35%;
  left: 32%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  color: white;
  max-width: 400px;
  box-shadow: 0 0 10px #ffeb3b;
}

.confirm-box p {
  font-size: 18px;
  margin-bottom: 20px;
}

.confirm-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

hr{
  margin-bottom: 40px;
  background-color: #fdd835;
  border: none;
  height: 1px;
}