.container {
    text-align: center;
    margin-top: 100px;
    padding: 0 20px;
}

h1 {
    color: #FFD700;
    margin-bottom: 50px;
    font-size: 2em;
}

.dashboard-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #FFD700;
    color: #000;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
    text-align: center;
}

.card .count {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

a {
    text-decoration: none;
}

@media (max-width: 1100px) {
    h1{
        margin-top: 200px;
    }

}
/* Responsive Design */
@media (max-width: 768px) {
    .dashboard-cards {
        align-items: center;
    }

    .card {
        width: 95%;
        max-width: 300px;
        margin-bottom: 20px;
    }
}